<div class="container">
	<h1>Hello RestEasy / MyBatis</h1>

	<p class="lead">
		This is a learning project to practice with RestEasy and MyBatis, and build a full stack webapp.
	</p>
	<br>
	<hr>
	<p class="lead">
		The technologies below were used in creating this webapp:
	</p>

	<ul class="list-unstyled">
		<li>* MySQL</li>
		<li>* Java</li>
		<li>* MyBatis</li>
		<li>* RestEasy / JAX-RS</li>
		<li>* AngularJS</li>
		<li>* Boostrap/HTML/CSS</li>
	</ul>
	<div>
		<img id="chimney-cat" class="img-fluid rounded mx-auto d-block" src="img/chimney-cat.jpg" />
		<p class="text-muted text-sm-center">
			This is my cat after I leave the chimney flue open.
		</p>

	</div>
</div>
