<div class="container">
    <h2>Cars</h2>

    <!-- New car entry form -->
    <div ng-show="!vm.selected">
        <form>
            <div class="form-group">
                <label for="make">Make</label>
                <input type="text" class="form-control" id="make" placeholder="Vehicle Make" ng-model="vm.newCar.make">
                <small id="makeHelp" class="form-text text-muted">Enter the vehicle manufacturer.</small>
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" placeholder="Vehicle Model" ng-model="vm.newCar.model">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="vm.createCar(vm.newCar); vm.newCar = {}">Create</button>
        </form>
        <hr />
    </div>

    <!-- index table of all cars -->
    <table class="table table-striped table-hover" ng-show="!vm.selected">
        <thead>
            <tr>
                <th ng-click="vm.orderProp = 'id'">ID</th>
                <th ng-click="vm.orderProp = 'make'">Make</th>
                <th ng-click="vm.orderProp = 'model'">Model</th>
                <th ng-click="vm.orderProp = 'driver.lName'">Driver</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in vm.cars |orderBy : vm.orderProp" ng-click="vm.show(c.id)">
                <td>{{c.id}}</td>
                <td>{{c.make}}</td>
                <td>{{c.model}}</td>
                <td>{{c.driver.id != 0 ? c.driver.fName + " " + c.driver.lName : 'No Driver Assigned'}}</td>
            </tr>
        </tbody>
    </table>

    <!-- detail view of single car -->
    <div ng-show="vm.selected && !vm.updating">
        <h2><span class="text-muted">ID:</span> {{vm.selected.id}}</h2>
        <h2><span class="text-muted">MAKE:</span> {{vm.selected.make}}</h2>
        <h2><span class="text-muted">MODEL:</span> {{vm.selected.model}}</h2>
        <button class="btn btn-block btn-success" ng-click="vm.update()">Update</button>
        <button class="btn btn-block btn-danger" ng-click="vm.deleteCar(vm.selected.id)">Delete</button>
    </div>

    <!-- update view -->
    <div ng-show="vm.selected && vm.updating">
        <form>
            <div class="form-group">
                <label for="make">Make</label>
                <input type="text" class="form-control" ng-model="vm.selected.make" />
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" ng-model="vm.selected.model" />
            </div>
            <button type="submit" class="btn btn-primary" ng-click="vm.updateCar(vm.selected)">Perform Update</button>
        </form>
    </div>
</div>
