<div class="container">
    <h2>Cars</h2>

    <!-- New car entry form -->
    <div ng-show="!vm.selected && !vm.loading">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Vehicle Make</div>
                    </div>
                    <input type="text" class="form-control" id="make" placeholder="McLaren" ng-model="vm.newCar.make">
                </div>
                <small id="makeHelp" class="form-text text-muted">Enter the vehicle manufacturer.</small>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Vehicle Model</div>
                    </div>
                    <input type="text" class="form-control" id="model" placeholder="570 S" ng-model="vm.newCar.model">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="vm.createCar(vm.newCar); vm.newCar = {}">Create</button>
        </form>
        <hr />
    </div>

    <!-- index table of all cars -->
    <table class="table table-striped table-hover" ng-show="!vm.selected && !vm.loading">
        <thead>
            <tr>
                <th ng-click="vm.orderProp = 'id'">ID</th>
                <th ng-click="vm.orderProp = 'make'">Make</th>
                <th ng-click="vm.orderProp = 'model'">Model</th>
                <th ng-click="vm.orderProp = 'driver.lName'">Driver</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in vm.cars |orderBy : vm.orderProp" ng-click="vm.show(c.id)">
                <td>{{c.id}}</td>
                <td>{{c.make}}</td>
                <td>{{c.model}}</td>
                <td>{{c.driver.id > 0 ? c.driver.fName + " " + c.driver.lName : 'No Driver Assigned'}}</td>
            </tr>
        </tbody>
    </table>

    <!-- detail view of single car -->
    <div ng-show="vm.selected && !vm.updating && !vm.loading">
        <h2><span class="text-muted">ID:</span> {{vm.selected.id}}</h2>
        <h2><span class="text-muted">CREATED:</span> {{vm.selected.date | date : 'MMM d, y h:mm a'}}</h2>
        <h2><span class="text-muted">MAKE:</span> {{vm.selected.make}}</h2>
        <h2><span class="text-muted">MODEL:</span> {{vm.selected.model}}</h2>
        <div class="row">
            <div class="col">
                <button class="btn btn-block btn-outline-primary" ng-click="vm.update()">Update</button>
            </div>
            <div class="col">
                <button class="btn btn-block btn-outline-danger" ng-click="vm.deleteCar(vm.selected.id)">Delete</button>
            </div>
        </div>
    </div>

    <!-- update view -->
    <div ng-show="vm.selected && vm.updating && !vm.loading">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Manufacturer</div>
                    </div>
                    <input type="text" class="form-control" ng-model="vm.selected.make" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Model</div>
                    </div>
                    <input type="text" class="form-control" ng-model="vm.selected.model" />
                </div>
            </div>
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Choose Car's Driver</div>
                </div>
                <select class="form-control" ng-model="vm.selected.driver.id" required>
                <option ng-repeat="d in vm.drivers" value={{d.id}}>
                    {{d.fName}} {{d.lName}}
                </option>
            </select>
            </div> -->
            <button type="submit" class="btn btn-primary" ng-click="vm.updateCar(vm.selected)">Perform Update</button>
        </form>
    </div>

    <!-- **************** only show while waiting for server response *************************** -->
    <div id="loading" ng-show="vm.loading == 1">
        <p class="display-3 text-center">Loading Cars</p>
        <img class="img-fluid mx-auto d-block" src="./img/cat-yarn-loader.gif">
    </div>

</div>
