<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learnstack.mappers.RaceMapper">
	<resultMap type="race" id="singleRaceRM">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<collection property="drivers" ofType="driver">
			<id property="id" column="driverId" />
			<result property="fName" column="fName" />
			<result property="lName" column="lName" />
			<association property="car" javaType="car">
				<id property="id" column="car_id" />
				<result property="make" column="make" />
				<result property="model" column="model" />
			</association>
		</collection>
	</resultMap>
	
	<resultMap type="race" id="racesRM">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	
	<select id="indexRaces" resultType="race" resultMap="racesRM">
		SELECT r.id, r.name
		FROM Race r
	</select>
	
	<select id="showRace" resultType="race" resultMap="singleRaceRM">
		SELECT r.id, r.name, d.id as driverId, d.fName, d.lName,c.id as car_id, c.make, c.model
		FROM Race r
		LEFT JOIN race_driver rd
		ON r.id = rd.race_id
		LEFT JOIN driver d
		ON d.id = rd.driver_id
		LEFT JOIN car c
		ON d.carId = c.id
		WHERE r.id = #{id}
	</select>
	
	<update id="updateRace" parameterType="race">
		UPDATE race SET name = #{name}
		WHERE id = #{id}
	</update>
	
	<insert id="insertRace" parameterType="race" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO race(name) VALUES(#{name})
		<!-- <selectKey> is to return the id and set it on the client, and prevent another db hit -->
  		<selectKey keyProperty="id" resultType="int" order="AFTER">
  			SELECT LAST_INSERT_ID();
  		</selectKey>
	</insert>
	
	<delete id="deleteRace" parameterType="int">
		DELETE FROM race WHERE id = #{id}
	</delete>
</mapper>