<div class="container">
    <h1>Races</h1>

    <!-- New race entry form -->
    <div ng-show="!vm.selected && !vm.loading">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Race's Name</div>
                    </div>
                    <input type="text" class="form-control" id="name" placeholder="ex. Richard Petty Invitational" ng-model="vm.newRace.name">
                </div>
                <small id="nameHelp" class="form-text text-muted">Enter the race name.</small>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="vm.createRace(vm.newRace); vm.newRace = {}">Create</button>
        </form>
        <hr />
    </div>

    <!-- index table of all races -->
    <table class="table table-striped table-hover" ng-show="!vm.selected && !vm.loading">
        <thead>
            <th ng-click="vm.orderProp = 'id'">ID</th>
            <th ng-click="vm.orderProp = 'name'">Name</th>
        </thead>
        <tbody>
            <tr ng-repeat="r in vm.races | orderBy : vm.orderProp" ng-click="vm.show(r.id)">
                <td>{{r.id}}</td>
                <td>{{r.name}}</td>
            </tr>
        </tbody>
    </table>

    <!-- View Single Selected Race -->
    <div ng-show="vm.selected && !vm.updating && !vm.loading">
        <h2><span class="text-muted">ID:</span> {{vm.selected.id}}</h2>
        <h2><span class="text-muted">Race:</span> {{vm.selected.name}}</h2>
        <div class="row">
            <div class="col">
                <button class="btn btn-block btn-outline-primary" ng-click="vm.update()">Update</button>
            </div>
            <div class="col">
                <button class="btn btn-block btn-outline-danger" ng-click="vm.deleteRace(vm.selected.id)">Delete</button>
            </div>
        </div>

        <br />
        <h2>Drivers</h2>

        <!-- Add Drivers to a Race form -->
        <form>
            <div class="form-group">
                <label for="driverOptions">Add More Drivers</label>
                <select id="driverOptions" class="form-control" multiple required
                    ng-model="vm.driversToAdd" ng-options="driver.fName + ' ' + driver.lName for driver in vm.availableDrivers">
                </select>
                <small class="form-text text-muted">ctrl + click to select multiple</small>
            </div>
            <button type="submit" class="btn btn-primary mb-3" ng-click="vm.addDriversToRace(vm.selected.id, vm.driversToAdd)">Add Drivers To Race</button>
        </form>

        <!-- Display Drivers already in Race -->
        <table class="table table-striped table-hover">
            <thead>
                <th ng-click="vm.orderProp = 'id'">#</th>
                <th ng-click="vm.orderProp = 'fName'">Name</th>
                <th ng-click="vm.orderProp = 'car.make'">Car</th>
            </thead>
            <tbody>
                <tr ng-show="d.id > 0" ng-repeat="d in vm.selected.drivers | orderBy : vm.orderProp">
                    <td>{{d.id}}</td>
                    <td>{{d.fName}} {{d.lName}}</td>
                    <td>
                        {{d.car.make}} {{d.car.model}}
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="vm.removeDriver(vm.selected.id, d.id)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Update Race View -->
    <div ng-show="vm.selected && vm.updating && !vm.loading">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Race's New Name</div>
                    </div>
                    <input type="text" class="form-control" ng-model="vm.selected.name">
                </div>
            </div>
            <button class="btn btn-primary" type="submit" ng-click="vm.updateRace(vm.selected)">Change Name</button>
        </form>
    </div>

    <!-- **************** only show while waiting for server response *************************** -->
    <div id="loading" ng-show="vm.loading == 1">
        <p class="display-3 text-center">Loading Races</p>
        <img class="img-fluid mx-auto d-block" src="./img/cat-yarn-loader.gif">
    </div>
</div>
